[Unit]
Description=Socket for Docket uWSGI app

[Socket]
ListenStream=/run/docket/docket.socket
SocketUser=docket
SocketGroup=nginx
SocketMode=0660
RuntimeDirectory=docket

[Install]
WantedBy=sockets.target
