[Unit]
Description=Socket for Docket uWSGI app
PartOf=docket.service

[Socket]
ListenStream=/run/docket/docket.socket
SocketUser=docket
SocketGroup=docket
SocketMode=0660

[Install]
WantedBy=sockets.target
