[Unit]
Description=Docket IO worker
After=syslog.target
Wants=redis.service

[Service]
EnvironmentFile=-/etc/sysconfig/docket
ExecStart=/usr/bin/celery worker --app docket.celery -c 1 -l info -Q io,celery
User=docket
Group=docket
Restart=on-failure
Type=simple
#StandardOutput=syslog
#StandardError=syslog
NotifyAccess=all
WorkingDirectory=/opt/rocknsm/docket/docket

[Install]
WantedBy=multiuser.target
