[Unit]
Description=Docket uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/sbin/uwsgi \
	  --ini /etc/rocknsm/docket-uwsgi.ini
User=docket
Group=nginx
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
WorkingDirectory=/opt/rocknsm/docket

[Install]
WantedBy=multiuser.target
