[Unit]
Description=Socket for Docket uWSGI app

[Socket]
ListenStream=/run/uwsgi/docket.socket
SocketUser=docket
SocketGroup=nginx
SocketMode=0660

[Install]
WantedBy=sockets.target
